.house-message {
  position: fixed;
  z-index: -1;
  background: @bg-gradient-base;
  color: @t-white;
  border-radius: @radius-l;
  padding: 10px;
  width: 240px;
  transform: translateY(-50%);
  .house-title {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-text {
      flex: 1;
      .text-ellipsis;
    }
    .close {
      font-weight: 800;
      cursor: pointer;
      .icon-right;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .house-list {
    margin-bottom: 10px;
    font-size: 12px;
    > li {
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &:last-of-type {
        padding-bottom: 10px;
        border-bottom: 2px solid white;
      }
    }
  }

  .circle-pop {
    @circle-diameter: 12px; // 圆的直径
    width: @circle-diameter;
    height: @circle-diameter;
    border-radius: @radius-circle;
    margin-right: 2px;
  }

  .resident-pop {
    .circle-pop;
    background-color: #cdc9a5;
  }
  .floating-pop {
    .circle-pop;
    background-color: #cdcd00;
  }
  .key-pop {
    .circle-pop;
    background-color: #9acd32;
  }

  .describe {
    display: flex;
    justify-content: flex-end;
    > li {
      height: 18px;
      display: flex;
      margin-left: 15px;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  .floor {
    display: flex;
    flex-wrap: wrap;
    .household {
      display: flex;
      flex: 0 25%;
      padding: 10px;
      cursor: pointer;
      .family {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        margin-right: 2px;
        &:nth-child(1) {
          background-color: #cdc9a5;
        }
        &:nth-child(2) {
          background-color: #cdcd00;
        }
        &:nth-child(3) {
          background-color: #9acd32;
        }
      }
      .doorInfo {
        position: fixed;
        background: @bg-gradient-base;
        width: 100px;
        height: 100px;
        left: 300px;
        top: 200px;
      }
    }
  }
}
