{
  "presets": ["env", "react"],
  "plugins": [
    "minify-dead-code-elimination",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
