.data {
  // overflow: hidden;
  flex: 1;
}

.data-container {
  width: 100px;
  height: 80px; // background-color: beige;
  color: white; // display: none;
  margin-left: 50px;
  flex: 0 100%;
  &.hidden {
    display: none;
  }
}
