.arrow-box {
  // position: absolute;
  width: 25px;
  padding-left: 10px;
  padding-top: 5px;
  flex: auto;
  background-color: bisque;
  &.changed {
    background: rgba(240, 248, 255, 0.3);
    padding-top: 10px;
  }
}

.data-container {
  width: 100px;
  height: 100px; // background: linear-gradient(#536677, #93ebc8);
  // background-color: @bg-gray;
  // border-radius: @radius-m;
  background: rgba(240, 248, 255, 0.3); // opacity: 0.8;
  margin-left: 66px;
  margin-top: -20px;
  overflow: hidden;
  &.hidden {
    display: none;
  }
  .data-item {
    opacity: 0.8;
    font-size: 12px;
    color: @t-base;
    text-align: center;
    padding: 8px;
    &.checked {
      background-color: #40df9f;
      opacity: 0.5;
      color: @t-base;
      cursor: pointer;
    }
  }
}

@menu-down: 0.3s menu-down; //子菜单的滑出
@keyframes menu-down {
  0% {
    // display: none;
    height: 0px;
  }
  100% {
    // display: block;
    height: 100px;
  }
}

.menu-top {
  height: 0px;
  animation: @menu-top;
}

.menu-down {
  height: 100px;
  animation: @menu-down;
}

@menu-top: 0.3s menu-top;
@keyframes menu-top {
  0% {
    // display: block;
    height: 100px;
  }
  100% {
    // display: none;
    height: 0px;
  }
}