// 色彩
// ---
//基础色
@color-green: #36b380;
@color-yellow: #ffa200;
@color-red: #ff0000;
@color-error: #ff0000;
@color-link: #0073e6;
@color-wx: #04bb0d;
@color-orange: #ec5e2a;
@color-blue: #40a9ff;
// 文字色
@t-base: #333; // 基本
@t-gray: #666; // 辅助色
@t-grayer: #999; // 辅助色
@t-white: #fff; // 基本 - 反色
@t-placeholder: #bbb; // 文本框提示
@t-disabled: #bbb; // 失效
// 背景色
@bg-gray: #f4f5f7; // 页面背景
@bg-grayer: #fafafa; // 页面背景//套装背景
@bg-hover: #efefef; // 悬浮时背景
@bg-disabled: #ccc; // 通用失效背景
@bg-mask: rgba(0, 0, 0, 0.65); // 遮罩背景
// 边框色
@border-color-base: #eee;
@border-color-darker: #ddd;
@border-color-disabled: #ddd;
// 阴影
@box-shadow: 5px 5px 5px #aaa;
@box-shadow-sm: 3px 3px 3px #aaa;
@box-shadow-mini: 2px 2px 2px #aaa;
// 圆角
// ---
@radius-s: 2px;
@radius-m: 4px;
@radius-circle: 50%;
// modal 模态框
@modal-top: 100px;
//

@transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
// 动画
@fade: 0.5s fade; // 淡入
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@modal-slide: 0.5s modal-slide; // 对话框
@keyframes modal-slide {
  0% {
    top: 0;
  }
  100% {
    top: @modal-top;
  }
}

@fade-in: fade-in 0.5s ease-out;
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0, -25%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@arrow-down: 0.2s arrow-down; //点击箭头改变下箭头
@keyframes arrow-down {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(135deg);
  }
}
@arrow-right: 0.1s arrow-right;
@keyframes arrow-right {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(135deg);
  }
}

// 一些通用的类
.hover-light-opacity {
  // 悬浮时颜色透明
  cursor: pointer;
  &:hover {
    background-color: #666;
    opacity: 0.4;
  }
}
