// 色彩
// ---
//基础色
@color-green: #36b380;
@color-yellow: #ffa200;
@color-red: #ff0000;
@color-error: #ff0000;
@color-link: #0073e6;
@color-wx: #04bb0d;
@color-army-green: #009688;
@color-orange: #ec5e2a;
@color-blue: #40a9ff;
@color-police-blue: #004d93;
@color-dark-blue: #003f6f;
@theme-bg-color: @color-police-blue; //地图主题背景色
// 文字色
@t-base: #333; // 基本
@t-gray: #666; // 辅助色
@t-grayer: #999; // 辅助色
@t-white: #fff; // 基本 - 反色
@t-placeholder: #bbb; // 文本框提示
@t-disabled: #bbb; // 失效
// 背景色
@bg-gray: #f4f5f7; // 页面背景
@bg-grayer: #e5e9f2; // 页面背景//套装背景
@bg-opacity: rgba(250, 250, 250, 0.5); // 透明通用背景
@bg-hover: #efefef; // 悬浮时背景
@bg-hover-opacity: rgba(250, 250, 250, 0.6); // 悬浮时背景
@bg-selected: @color-police-blue / 2; // 选中时背景
@bg-selected-opacity: rgba(239, 239, 239, 0.8); // 选中时背景
@bg-disabled: #ccc; // 通用失效背景
@bg-mask: rgba(0, 0, 0, 0.65); // 遮罩背景
// 边框色
@border-color-base: #eee;
@border-color-darker: #ddd;
@border-color-disabled: #ddd;
// 阴影
@shadow-color: #aaa;
@box-shadow: 5px 5px 5px @shadow-color;
@box-shadow-sm: 3px 3px 3px @shadow-color;
@box-shadow-mini: 2px 2px 2px @shadow-color;
// 圆角
// ---
@radius-s: 2px;
@radius-m: 4px;
@radius-l: 6px;
@radius-circle: 50%;
// modal 模态框
@modal-top: 100px;
//
@transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
// 动画
@fade: 0.5s fade; // 淡入
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@modal-slide: 0.5s modal-slide; // 对话框
@keyframes modal-slide {
  0% {
    top: 0;
  }
  100% {
    top: @modal-top;
  }
}

@fade-in: fade-in 0.5s ease-out;
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0, -25%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// 一些通用的类
.hover-light-opacity {
  // 悬浮时颜色透明
  cursor: pointer;
  &:hover {
    background-color: #666;
    opacity: 0.4;
  }
}

.text-ellipsis {
  // 文字溢出
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.icon-left {
  margin-right: 5px;
}

.icon-right {
  margin-left: 5px;
}

// 动画传参类
.drop-down(@end-height) {
  // 下拉展开
  @keyfName: ~'drop-down-@{end-height}';
  @keyframes @keyfName {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: @end-height;
      opacity: 1;
    }
  }
  height: @end-height;
  animation: 0.3s @keyfName; //子菜单的滑出
}

.pull-up(@start-height) {
  // 上拉收起
  @keyfName: ~'pull-up-@{start-height}';
  @keyframes @keyfName {
    0% {
      height: @start-height;
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
  height: 0;
  animation: 0.3s @keyfName; //子菜单的滑出
}
