.classification-box {
  .classification-label {
    margin-bottom: @margin / 2;
    display: flex;
    align-items: center;
    .label-name {
      margin-left: @margin / 2;
    }
  }
  .classification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .element-item {
      flex: 0 25%;
      margin-bottom: @margin / 2;
    }
  }
}
