.classification-box {
  .classification-label {
    margin-bottom: @margin / 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    .label-name {
      margin-left: @margin / 2;
    }
  }
  .classification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    .element-item {
      .element-img-box {
        position: relative;
        overflow: hidden;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .element-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
