.element-library {
  @margin: 10px;
  width: @bottom-nav-width;
  height: calc(~'100% - @{bottom-nav-height}');
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: @bg-gradient-base;
  overflow: auto;
  color: white;
  padding: @margin;
  animation: 0.5s slide-down;

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  &.hidden {
    animation: 0.5s slide-up;
    @keyframes slide-up {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
        display: none;
      }
    }
  }

  .btn-text {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transform: scale(1.02);
    }
  }
  @import './library-header.less';
  @import './load-library.less';
  @import './select-option.less';
  @import './classification-box.less';
}
