.route-container {
  width: 100%;
  @item-count: 2; // 下拉子选项的数量
  overflow: hidden;
  &.menu-up {
    .pull-up(@item-cell-height * @item-count);
  }

  &.menu-down {
    .drop-down(@item-cell-height * @item-count);
  }
}

@import './new-route.less'; // 新建安保路线
@import './view-route.less'; // 查看已保存的路线
