.menu-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: @bg-gradient-base;
  transform: all 0.5s;
  .menu-item {
    width: 100%;
    padding: 25px 30px;
    .item-label {
      color: @t-white;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        color: @color-blue;
        .arrow {
          border-top: 1px solid @color-blue;
          border-right: 1px solid @color-blue;
        }
      }
      .arrow-box {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.changed {
          background: @bg-gradient-opacity;
        }
      }
      .arrow {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1px solid @t-white;
        border-right: 1px solid @t-white;
        transform: rotate(45deg);
        transform-origin: center;
      }
      .arrow-right {
        animation: @arrow-right;
      }
      .arrow-down {
        transform: rotate(135deg);
        animation: @arrow-down;
      }
    }
  }
  .menu-option {
    position: relative;
    font-size: 15px;
  }
}

@arrow-down: arrow-down; //点击箭头改变下箭头
@keyframes arrow-down {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@arrow-right: arrow-right;
@keyframes arrow-right {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(45deg);
  }
}
