.left-map {
  position: relative;
  flex: 1;
  height: 100%;
  padding-bottom: @bottom-height;
  .img-container {
    background: @background-border;
    background-size: @background-border-size;
    border: 1px solid black;

    height: 100%;

    .map-img {
      width: 100%;
    }
  }
}
