.right-chart {
  @width: 600px;
  flex: 0 @width;
  display: flex;
  flex-wrap: wrap;
  @spacing: 5px;
  padding-bottom: @bottom-height - @spacing;
  .chart-container {
    box-sizing: border-box;
    flex: 1 40%;
    height: 33.33%;
    margin-left: @spacing;
    padding-bottom: @spacing;
    .chart-item {
      width: 100%;
      height: 100%;
      background: @background-border;
      background-size: @background-border-size;
      border: 1px solid black;
    }
  }
}
