.search-input-box {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-right: 1px solid @border-color-darker;
  .search-input {
    width: 300px;
  }
  .search-clear {
    color: @t-grayer;
    margin: 0 2px;
    cursor: pointer;
    &.hidden {
      display: none;
    }
  }
}
