.linkage-display {
  width: @bottom-nav-width;
  height: calc(~'100% - @{bottom-nav-height}');
  // height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightblue;
}
