.multiple-area {
  background-color: white;
  margin: @margin-bottom 0;
  padding: 5px;
  border-radius: @radius-l;
  .multiple-label {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  .multiple-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px 0 10px;
    .all-case-icon {
      margin-right: 3px;
      font-size: 16px;
    }
    .multiple-btn-arr {
      display: flex;
      align-items: center;
      .multiple-btn-item {
        padding: 5px;
        cursor: pointer;
        border: 1px solid @color-army-green;
        &:nth-of-type(1) {
          border-top-left-radius: @radius-l;
          border-bottom-left-radius: @radius-l;
        }
        &:nth-last-of-type(1) {
          border-top-right-radius: @radius-l;
          border-bottom-right-radius: @radius-l;
          border-left: 0;
        }
        &.checked {
          color: white;
          background: @color-army-green;
        }
      }
    }
  }
}
