@width: 30px;
@height: 30px;
.restoreFast {
  width: @width;
  height: @height;
  background-color: #fbfbfb;
  border-radius: 5px;
  position: fixed;
  top: 102px;
  right: 10px;
  z-index: 999;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    font-family: '黑体';
    color: #464746;
  }
  .tip {
    position: absolute;
    left: -(@width + 75);
    top: -(@height - 36);
    width: @width + 70;
    height: 20px;
    text-align: center;
    color: #6b6b6b;
    border: 1px solid #9c9c9c;
    background-color: #fbfbfb;
    display: none;
  }
  .icon-box:hover+.tip {
    display: block;
  }
}