.member-info {
  border-radius: @radius-l;
  overflow: hidden;
  width: 180px;
  background-color: white;
  position: absolute;
  left: 101%;
  top: 0;
  color: @t-base;
  padding-bottom: 10px;
  .member-title {
    background: @theme-bg-color;
    color: @t-white;
    padding: 5px;
  }

  .info-label {
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 1px solid @border-color-base;
    border-bottom: 1px solid @border-color-base;
  }

  .detail-box {
    padding: 5px;
    .info-detail {
      padding: 2px 0;
      display: flex;
      .detail-label {
        flex: 0 72px;
      }
      .detail-value {
        flex: 1;
        word-break: break-all;
      }
    }
  }
}
