.bottom-nav {
  width: @bottom-nav-width;
  @height: @bottom-nav-height;
  @padding: 10px;
  @line-height: 15px;
  position: absolute;
  height: @height;
  color: @t-gray;
  // background-color: #ffffff;
  right: 0;
  z-index: 1;
  bottom: 0;
  box-shadow: @box-shadow-mini;
  display: flex;
  align-items: center;
  padding-left: @padding;
  border-radius: @radius-s;
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @bottom-nav-height - (@padding * 2);
    height: @bottom-nav-height - (@padding * 2);
    border-radius: @radius-circle;
    margin-right: @padding / 2;
    border: 2px solid @border-color-base;
    background-color: #fff;

    cursor: pointer;
    &:hover {
      background-color: @bg-gray;
    }
  }
  .features-menu-btn {
    .nav-btn;
  }
  .zoom-in-btn {
    .nav-btn;
  }
  .zoom-out-btn {
    .nav-btn;
  }
  @import './compass-btn.less';
  @import './reset-pitch-btn.less';
}
