.left-menu {
  @import './menulist/index'; //导入菜单列表样式
  width: 200px;
  height: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  position: fixed;
  .menu-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: @bg-gradient-base;
    transform: all 0.5s;
    .menu-item {
      width: 100%;
      padding: 25px 30px;
      .item-label {
        color: @t-white;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          color: @color-blue;
          .arrow {
            border-top: 1px solid @color-blue;
            border-right: 1px solid @color-blue;
          }
        }
        .arrow-box {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.changed {
            background: rgba(240, 248, 255, 0.3);
          }
        }
        .arrow {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-top: 1px solid @t-white;
          border-right: 1px solid @t-white;
          transform: rotate(45deg);
          transform-origin: center;
        }
        .arrow-right {
          animation: @arrow-right;
        }
        .arrow-down {
          transform: rotate(135deg);
          animation: @arrow-down;
        }
      }
    }
    .menu-option {
      position: relative;
      font-size: 15px;
    }
  }
  .control {
    background: @bg-gradient-base;
    width: 20px;
    height: 50px;
    margin-left: 2px;
    position: absolute;
    top: 50%;
    right: -20px;
    .aspect-left {
      display: inline-block;
      width: 8px;
      height: 8px;
      border: none;
      border-top: 1px solid @t-white;
      border-left: 1px solid @t-white;
      transform: rotate(-45deg);
      &:hover {
        border-top: 1px solid @color-blue;
        border-left: 1px solid @color-blue;
      }
    }
  }
}

.menu-slide-in {
  left: 0;
  animation: @menu-fade-in;
}

@menu-fade-in: 0.5s menu-fade-in; // 菜单滑入
@keyframes menu-fade-in {
  0% {
    left: -240px;
  }
  100% {
    left: 0;
  }
}

.menu-slide-out {
  left: -240px;
  animation: @menu-fade-out;
}

@menu-fade-out: 0.5s menu-fade-out; // 菜单滑出
@keyframes menu-fade-out {
  0% {
    left: 0;
  }
  100% {
    left: -240px;
  }
}

@arrow-down: arrow-down; //点击箭头改变下箭头
@keyframes arrow-down {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@arrow-right: arrow-right;
@keyframes arrow-right {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@menu-down: 0.5s menu-down; //子菜单的滑出
@keyframes menu-down {
  0% {
    display: none;
    height: 0px;
  }
  100% {
    display: block;
    height: 100px;
  }
}

@menu-top: 0.5s menu-top;
@keyframes menu-top {
  0% {
    display: block;
    height: 100px;
  }
  100% {
    display: none;
    height: 0px;
  }
}